# Hardhat
ETHERSCAN_KEY=""
INFURA_KEY=""
SNOWTRACE_KEY=<key>
MAINNET_QUICKNODE_LINK="https://eth-mainnet.g.alchemy.com/v2/"
UNICHAIN_QUICKNODE_LINK="https://unichain-mainnet.g.alchemy.com/v2/"
LINEA_QUICKNODE_LINK="https://linea-mainnet.g.alchemy.com/v2/"

# Foundry
ARBITRUM_QUICKNODE_LINK="https://arb-mainnet.g.alchemy.com/v2/"
POLYGON_QUICKNODE_LINK="https://polygon-mainnet.g.alchemy.com/v2/"
BASE_QUICKNODE_LINK="https://base-mainnet.g.alchemy.com/v2/"
OPTIMISM_QUICKNODE_LINK="https://opt-mainnet.g.alchemy.com/v2/"
MANTLE_QUICKNODE_LINK="https://mantle-mainnet.g.alchemy.com/v2/"
SCROLL_RPC_URL="https://scroll-mainnet.g.alchemy.com/v2/"
SALT="SALT"